.shield-icon {
    display: block;
    margin: 60px auto 20px auto; /* Centrado horizontal */
    transform: scale(1.5);       /* Aumenta el tamaño 1.5 veces */
}

ion-text h1 {
    margin-top: 0;
    text-align: center;    /* Centra el texto */
}
