.container {
  padding: 1rem;
}

.card {
  background-color: #f4f4f4;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  padding: 0.8rem;
  border: none;
  border-radius: 8px;
  background-color: #007bff;
  color: white;
  font-weight: bold;
}
button:hover {
  background-color: #0056b3;
  cursor: pointer;
}
